
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;

}

section{
    margin-bottom: 100px;
}



#bg-video{
    position: absolute;
    z-index: -1;
    
}

.main{
    min-height: 120vh;
    width: 100%;
    background-color: rgba(3, 0, 8, 0.7);
	backdrop-filter: blur(0px);
    padding: 20px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
}

nav a{
    text-decoration: none;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .logo{
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}

nav .logo span{
    font-size: 30px;
    font-weight: 900;
    background-color: #fff;
    color: #008374;
    padding: 6px;
    border-radius: 50px;
    border: 3px solid #008374;
}

.nav-links{
    flex: 1;
    text-align: right;
    color: ;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: .5s;
}

.nav-links ul li a{
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .5s;
}

.nav-links ul li a:hover{
    color: #008374;
}

.nav-links ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #008374;
    position: absolute;
    display: block;
    left: 10px;
    transition: .5s;
}

.nav-links ul li:hover::after{
    width: 35px;
}


.nav-links ul li::before{
    content: '';
    width: 0;
    height: 2px;
    background-color: #008374;
    position: absolute;
    display: block;
    right: 10px;
    transition: .5s;
}

.nav-links ul li:hover::before{
    width: 35px;
}

nav .fa{
    display: none;
}


.text-box{
    width: 55%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.text-box h1{
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.text-box h6{
    color: #008374;
    font-size: 20px;
    margin-bottom: 30px;
}

.typewriter h6 {
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: 5px solid #008374; 
    white-space: nowrap; ;
    margin: 0 auto; 
    letter-spacing: 1px; 
    animation: typing 3.5s steps(25, end),
                blink-caret .5s steps(33) infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #008374 }
  }

.text-box p{
    margin-top: 30px;
    margin-bottom: 30px;
}

.text-box .btn{
    background-color: #008374;
    color: #fff;
    width: 200px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px  0;
    transition: .3s;
}

.text-box .btn:hover{
    background-color: #fff;
    color: #008374;
    border-radius: 0 20px;
    border: 2px solid #008374;
}

.social-icons{
    position: fixed;
    bottom: 150px;
    left: 0;
}

.social-icons ul li a i{
    margin: 13px 0;
    font-size: 25px;
    color: #008374;
}


/*-- Service Section Start --*/

.service-section .col-lg-3{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s;
    border-radius: 5px;
}

.service-section .col-lg-3:hover{
    transform: translateY(-10px);

}

.service-section .col-lg-3:nth-child(1){
    background-color: #faf6f3;
}
.service-section .col-lg-3:nth-child(2){
    background-color: #edf2fe;
}
.service-section .col-lg-3:nth-child(3){
    background-color: #f0f5f4 ;
}
.service-section .col-lg-3:nth-child(4){
    background-color: #fff5f6;
}

.service-section .service-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sub-menu1{
    color: #ff6243;
    font-weight: 700;
}

.sub-menu2{
    color: #b9cefd;
    font-weight: 700;
}

.sub-menu3{
    color: #72a499;
    font-weight: 700;
}

.sub-menu4{
    color: #e7445b;
    font-weight: 700;
}

.service-section .service-icon img{
    width: 55px;
}



.service-section .service-content h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #008374;
    margin-bottom: 20px;
}

.service-section .service-content p{
    color: #566573;
}
/*-- Service Section End --*/

/*-- Feature Section Start --*/
.feature-area .feature-img img{
    width: 100%;
    border-top-left-radius: 50px;
}

.feature-img{
    position: relative;
}

.features{
    width: 300px;
    height: 330px;
    position: absolute;
    right: -30px;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 50px;
}

.feature-img-content{
    width: 300px;
    height: 300px;
    position: absolute;
    right: -50px;
    bottom: 0;
    background-color: #008374;
    padding: 20px;
    border-top-left-radius: 50px;
}

.feature-img-content p{
    color: #fff;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

}

.feature-img-content p span{
    font-size: 110px;
    font-weight: 700;
}

.feature-content{
    padding: 100px;
}

.feature-content .btn{ 
    background-color: #008374;
    color: #fff;
    width: 200px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px  0;
    transition: .3s;
}

.feature-content .btn:hover{
    background-color: #fff;
    color: #008374;
    border-radius: 0 20px;
    border: 2px solid #008374;
}

.feature-content span{
    display: block;;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    position: relative;
}

.feature-content span::before{
    content: '';
    width: 30%;
    height: 3px;
    background-color: #008374;
    position: absolute;
    top: 0;
    left: 140px;
}

.feature-content h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 500;
    color: #008374;
    margin-bottom: 20px;
}

.feature-content P{
    color: #566573;
    font-family: Arial, Helvetica, sans-serif;
}
/*-- Feature Section End --*/

/*-- Services Sectio Start --*/
.container .heading-part{
    text-align: center;
}

.container .heading-part h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 500;
    color: #008374;
    margin-bottom: 20px;
}

.container .heading-part p{
    color: #566573;
    font-family: Arial, Helvetica, sans-serif;
} 

.services{
	background-color: #17202A;
}
.services-info{
    text-align: center;
}

.services-info h2{
	font-size: 40px;
	margin-bottom: 5px;
}

.services-info h2 span{
	color: #D40271;
}

.services-info p{
	color: grey;
	letter-spacing: 1px;
	line-height: 25px;
}

.services-part{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px,auto));
	grid-gap: 2rem;
	align-items: center;
	margin-top: 4.5rem;
}

.services-part .row{
	background: #fff;
	padding: 40px 20px;
	border-radius: 10px;
    position: relative;
	cursor: pointer;
	transition: all .3s;

}

.services-part .row i{
	display: flex;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
	color: #008374;
	font-size: 30px;
	margin-bottom: 20px;
}

.services-part .row h3{
	text-align: center;
	color: #000;
	font-size: 22px;
	margin-bottom: 15px;
}

.services-part .row p{
	text-align: center;
	color: rgb(97, 97, 97);
	letter-spacing: 1px;
	line-height: 25px;
}

.services-details .services-details-btn{
    width: 100%;
    margin: 0 auto;
    padding: 65px;
}

.services-details .services-details-btn .btn{
    background-color: #008374;
    color: #fff;
    width: 200px;
    padding: 15px;
    border: 2px solid #fff;
    border-radius: 20px  0;
    transition: .3s;
}

.services-details .services-details-btn .btn:hover{
    background-color: #fff;
    color: #008374;
    border-radius: 0 20px;
    border: 2px solid #008374;
}



.services-overlay{
    position: absolute;
	top: 60%;
    left: 0;
    right: 0;
    padding: 70px;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(3, 0, 8, 0.7);
	backdrop-filter: blur(0px);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.services-part .row:hover .services-overlay{
    top: 50%;
    visibility: visible;
    opacity: 1;
}


/*-- Footer Section Start --*/
footer{
    background-color: #008374;
    border-top-left-radius: 100px;
}
.footer .row{
    padding: 40px 20px;
}
.footer .row .footer-logo{
    padding-left: 40px 20px;
}

.footer .row .footer-logo .logo{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.footer .row .footer-logo span{
    font-size: 30px;
    font-weight: 900;
    background-color: #fff;
    color: #008374;
    padding: 6px;
    border-radius: 50px;
    border: 3px solid #008374;
}

.footer .row .footer-icon{
    flex: 1;
    text-align: right;
    }
    
.footer .row .footer-icon ul li{
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
        transition: .5s;
    }
    
    
.footer .row .footer-icon ul li a{
        color: #fff;
        font-size: 30px;
        font-weight: 500;
        transition: .5s;
    }

.footer h3{
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.footer p{
    color: #B3B6B7;
}

.footer h6{
    color: #fff;
    text-decoration: underline;
}

.footer .footer-stay input{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    padding: 0 20px;
    border: none;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 15px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.footer .footer-stay .footer-btn{
    text-decoration: none;
    width: 400px;
    height: 50px;
    line-height: 60px;
    background-color: #fff;
    padding: 20px;
    border: none;
    margin-bottom: 30px;
    color: #000;
    font-size: 18px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.footer .footer-services ul li a{
    text-decoration: none;
    color: #B3B6B7;
    padding: 30px;
} 

.footer .footer-contact p span{
    color: #fff;
    font-weight: 600;
}

.footer .copyright{
    text-align: center;
}
/*-- Footer Section End --*/