@media (min-width: 1281px) {
  
    
  }
  
  
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
   
    
  }
  
  
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    
    
  }

  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    
    
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    
    
  }
  
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    
    
  }