
@media(max-width: 1200px){
    .main{
        width: 100%;
    }

    #bg-video{
        width: 100%;
        height: auto;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background-color: #008374;
        color: #000;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
    .text-box{
        width: 80%;
        top: 50%;
    }
    .text-box h1{
        font-size: 25px;
    }

    .text-box p{
        font-size: 12px;
    }

}

@media (max-width: 1036px){

    .main{
        width: 100%;
        height: 55vh;
    }

    #bg-video{
        width: 100%;
        height: auto;
    }

    .text-box{
        top: 50%;
    }
   
    .counter-up{
        padding: 50px 50px 0 50px;
    }

    .content .box{
        width: calc(50% - 30px);
    }

    .about-content{
        margin-top: 50px;
    }

    .about-content h2{
        font-size: 10px;
    }

    .about-img-content{
        width: 230px;
        height: 241px;
        right: 50px;
    }

    .about-img-content p span{
        font-size: 82px;
    }

    #about .container .about-img img{
        width: 507px;
        height: 350px;
        margin-top: 100px;
    }

    #about .container .about-img .about-ex1{
        width: 170px;
        height: 170px;
        right: 38px;
    }

    .categories{
        padding: 20px;
    }

    .available-job-post{
        display: block;
    }
    
}
@media(max-width: 700px){

    #bg-video{
        width: 100%;
        height: auto;
    }
    .main{
        width: 100%;
        height: 100vh;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background-color: #008374;
        color: #000;
        height: 115vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 30px;
    }
    .text-box{
        width: 80%;
        top: 50%;
    }
    .text-box h1{
        font-size: 25px;
    }

    .text-box p{
        font-size: 12px;
    }

    .about-content{
        margin-left: 0;
        margin-top: 50px;
    }

    .about-content h2{
        font-size: 20px;
    }

    .about-area .about-img img{
        width: 70%;
    }

    .about{
        width: 230px;
        height: 280px;
    }

    .about-img-content{
        width: 230px;
        height: 241px;
        right: 50px;
    }

    .about-img-content p span{
        font-size: 82px;
    }

    .our-vision-mission .mission-img{
        margin-left: 0;
    }

    .software .services-item .services-item-part img{
        width: 481px;
    }

    .srvc1{
        width: auto;
    }

    .srvc2{
        width: auto;
        margin-top: 100px;
    }

    .career-part video{
        width: 500px;
        height: 250px;
    }

    .career-categories{
        display: block;
    }

    .categories{
        padding: 20px;
    }

    .available-job-post{
        display: block;
    }

    .available1{
        padding: 20px;
    }
}

@media (max-width: 580px){
    #bg-video{
        width: 100%;
        height: auto;
    }

    .main{
        width: 100%;
    }
    .content .box{
        width: 100%;
    }

    .about-content{
        margin-left: 0;
        margin-top: 50px;
    }

    .text-box{
        top: 40%;
    }

    .about-area{
        margin-top: 100px;
    }

    .our-vision-mission .mission-img{
        margin-left: 0;
    }

    .software .services-item .services-item-part img{
        width: 330px;
    }

    .srvc1{
        width: auto;
    }

    .srvc2{
        width: auto;
        margin-top: 100px;
    }

    .career-part video{
        width: 300px;
        height: 150px;
    }

    .career-categories{
        display: block;
    }

    .categories{
        padding: 20px;
    }

    .available-job-post{
        display: block;
    }

    .available1{
        padding: 20px;
    }
}

@media(max-width: 320px){
    #bg-video{
        width: 100%;
        height: auto;
    }
   .main{
    width: 100%;
   }

   .about-content{
    margin-left: 0;
    margin-top: 50px;
}

.about-content h2{
    font-size: 20px;
}

.about-area{
    margin-top: 200px;
}

.about-area .about-img img{
    width: 50%;
}

.about{
    width: 170px;
    height: 230px;
}

.about-img-content{
    width: 230px;
    height: 225px;
    right: 50px;
}

.about-img-content p span{
    font-size: 82px;
}
.text-box{
    top: 55%;
}

.our-vision-mission .mission-img{
    margin-left: 0;
}

.software .services-item .services-item-part img{
    width: 250px;
}

.srvc1{
    width: auto;
}

.srvc2{
    width: auto;
    margin-top: 100px;
}

.career-part video{
    width: 200px;
    height: 50px;
}

.career-categories{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}

.categories{
    padding: 20px;
}

.available-job-post{
    display: block;
}

.available1{
    padding: 20px;
}

}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    .blog-wrapper{
      display: block;
    }
    
  }
  
  
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .blog-wrapper{
      display: block;
    }
   
    
  }
  
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .blog-wrapper{
      display: block;
    }
  }
  
  @media (min-width: 220px) and (max-width: 320px) {
    
    .blog-wrapper{
      display: block;
    }
   
  }
  


