/*-------------- Index ---------------------------------
    1.0 - Resest
    2.0 - Global
          2.1 - Pre Loader
          2.2 - Social Icon Part
          2.3 - Button Part
          2.4 - Background Video Part
          2.5 - Slick Slider
    3.0 - Heading Part 
    4.0 - HomePage Link Part
    5.0 - Main-HomePage-Text Part
    6.0 - Header Section Start
    7.0 - Hero Section Start
          7.1 - Wrapper Part
          7.2 - Text-Box Part
    8.0 - Feature Section Start
    9.0 - About Section Start
    10.0 - Service Section Start
    11.0 - Counter Up Section Start
    12.0 - Special Team Member Section Start
    13.0 - Review Section Start
    14.0 - About Page Start
           14.1 - About Home Part
           14.2 - Vision-Mission Part
           14.3 - Offer Part
           14.4 - Our Best Skill Part
    15.0 - Service Page Start
           15.1 - Service Home Part
           15.2 - Isotope Part
    16.0 - Portfolio Page Start
           16.1 - Portfolio Home Part 
           16.2 - Portfolio Portfolio Part 
    17.0 - Blog Page Start
           17.1 - Blog Home Part
           17.2 - Our Blog Part
    18.0 - BlogPage Start
    19.0 - Career Page Start
           19.1 - Career Home Part
           19.2 - Career Vacancy Part
           19.3 - Career Categories Part
           19.4 - Career Available Job Part
    20.0 - Contact Page Start
           20.1 - Contact Home Part
           20.2 - Contact Part
    21.0 - Contact-php Page Start
    22.0 - Footer Section 
-----------------------------------------------------------*/


/*-------------- 1.0 - Reset --------------*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

section {
    margin-bottom: 100px;
    position: relative;
}

/*----------------------- 2.0 Global ----------------------*/
/*----------- 2.1 - Pre Loader -----------*/
/* Styles for the preloader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 9999;
}

#loader {
    border: 8px solid #eea676;
    border-radius: 50%;
    border-top: 20px solid #056c5f;
    width: 102px;
    height: 102px;
    animation: preloader 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@keyframes preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Styles for the content */
#page-content {
    display: none;
    /* Hide content by default */
}

/*---------- 2.2 - Social icon part -------------*/
#social-icon ul li a i {
    transition: .5s;
}

#social-icon ul li a i:hover {
    transform: rotate(360deg);
    color: #fff;
}

.social-icons {
    position: fixed;
    top: 300px;
    left: 0;
    background-color: #056c5f;
    padding-right: 10px;
    border-top-right-radius: 15px;
    z-index: 1;
}

.social-icons ul {
    padding-left: 1rem;
}

.social-icons ul li a i {
    margin: 13px 0;
    font-size: 25px;
    color: #eea676;
}

/*---------- 2.3 - Button Part -------------*/
section .btn {
    color: #eea676;
    font-weight: 700;
    width: 200px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    background-color: #056c5f;
    border-radius: 20px 0;
    transition: .3s;
}

section .btn:hover {
    background-color: #eea676;
    color: #056c5f;
    border-radius: 0 20px;
}

section #btn {
    color: #056c5f;
    width: 200px;
    padding: 15px;
    background-color: #eea676;
    border-radius: 20px 0;
    transition: .3s;
}

section #btn:hover {
    background-color: #056c5f;
    color: #eea676;
    border-radius: 0 20px;
}

/*--------- 2.4 - Background video part ---------*/
.header {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#bg-video {
    width: 100%;
    min-height: 500px;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

/*---------- 2.5 - Slick Slider ----------------*/
.slick-dots li button {
    font-size: 0;
    height: 10px;
    width: 10px;
    background: #056c5f;
    border-radius: 30px;
    border: none;
    margin: 0px 5px;
}

.slick-dots .slick-active button {
    background: #eea676;
    height: 15px;
    width: 15px;
}

.slick-next::before {
    content: "";
}

.slick-dots li.slick-active button:before {
    display: none;
}





/*--------------------------- 3.0 - Heading Part ---------------------*/
.container .col-lg-6 h2 {
    color: #056c5f;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Sen', sans-serif;
    line-height: 1.2;
}

.container .col-lg-6 h2 span {
    color: #eea676;
}

section .heading-part h2 {
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-weight: 800;
    color: #008374;
    position: relative;
    margin-bottom: 20px;
}

section .heading-part h2::before {
    content: '';
    display: block;
    position: absolute;
    width: 75px;
    height: 5px;
    border-radius: 3px;
    background-color: #eea676;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translate(0, 45%);
}


section .heading-part p {
    color: #566573;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------- 4.0 - HomePage Link Part ------------------*/
.homePage-link h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: 500;
    color: #008374;
    margin-bottom: 20px;
}

.homePage-link P {
    color: #566573;
    font-family: Arial, Helvetica, sans-serif;
}


/*------------------- 5.0 - Main-HomePage-Text Part -------------------*/
section .main-homePage .global {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(3, 0, 8, 0.7);
    backdrop-filter: blur(0px);
    padding: 20px;
}

section .main-homePage .global .main-homePage-text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section .main-homePage .global .main-homePage-text h2 {
    color: #eea676;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}

section .main-homePage .global .main-homePage-text p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

section .main-homePage .global .main-homePage-text p a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

/*------------------ 6.0 Header section Start ----------------------*/
.main {
    width: 100%;
    height: 600px;
    background-color: rgba(3, 0, 8, 0.7);
    backdrop-filter: blur(0px);
    padding: 20px;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex !important;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 25px;
    color: #fff;
    font-weight: 500;
}

nav .logo:hover {
    color: #fff;
    text-decoration: none;
}

nav .logo span {
    font-size: 30px;
    font-weight: 900;
    background-color: #056c5f;
    color: #fff;
    padding: 6px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    transition: .5s;
}

.nav-links ul li a {
    color: #fff;
    letter-spacing: 1px;
    font-weight: 500;
    transition: .5s;
}

.nav-links ul li a:hover {
    color: #008374;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #008374;
    position: absolute;
    display: block;
    left: 10px;
    transition: .5s;
}

.nav-links ul li:hover::after {
    width: 35px;
}


.nav-links ul li::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: #008374;
    position: absolute;
    display: block;
    right: 10px;
    transition: .5s;
}

.nav-links ul li:hover::before {
    width: 35px;
}

nav .fa {
    display: none;
}


/*------------------ 7.0 Hero Section start ---------------------*/

.text-box {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
    justify-content: center;
    text-align: center;
    padding: 20px;

}

/*-------- 7.1 - Wrapper part --------*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
}

canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

/*------- 7.2 Text-box Part ------*/
.text-box p {
    font-weight: 600;
}

.text-box h1 {
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #eea676;
}


/*----------------------- 8.0 Feature Section Start -----------------------*/
.feature-section .col-lg-3 {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: .5s;
    border-radius: 5px;
}

.feature-section .col-lg-3:hover {
    transform: translateY(-10px);
}

.feature-section .col-lg-3:nth-child(1) {
    background-color: #faf6f3;
}

.feature-section .col-lg-3:nth-child(2) {
    background-color: #edf2fe;
}

.feature-section .col-lg-3:nth-child(3) {
    background-color: #f0f5f4;
}

.feature-section .col-lg-3:nth-child(4) {
    background-color: #fff5f6;
}

.feature-section .feature-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sub-menu1 {
    color: #ff6243;
    font-weight: 700;
}

.sub-menu2 {
    color: #b9cefd;
    font-weight: 700;
}

.sub-menu3 {
    color: #72a499;
    font-weight: 700;
}

.sub-menu4 {
    color: #e7445b;
    font-weight: 700;
}

.feature-section .feature-icon img {
    width: 55px;
}

.feature-section .feature-content h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: #008374;
    margin-bottom: 20px;
}

.feature-section .feature-content p {
    color: #566573;
}


/*------------------------- 9.0 - About Section Start ---------------------*/
.about-area .about-img img {
    width: 90%;
    border-top-left-radius: 50px;
}

.about-img {
    position: relative;
}

.about {
    width: 280px;
    height: 330px;
    position: absolute;
    right: -30px;
    bottom: 0;
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 50px;
}

.about-img-content {
    width: 280px;
    height: 300px;
    position: absolute;
    right: -50px;
    bottom: 0;
    background-color: #008374;
    padding: 20px;
    border-top-left-radius: 50px;
}

.about-img-content p {
    color: #fff;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.about-img-content p span {
    font-size: 110px;
    font-weight: 700;
}

.about-content {
    margin-left: 120px;
}

.about-content .company {
    display: block;
    ;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 700;
    position: relative;
    text-decoration: overline;
}




/*------------------------- 10.0 - Services Sectio Start -----------------*/
.container .heading-part {
    text-align: center;
    margin-bottom: 40px;
}

.services-part {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 4.5rem;
}

.services-part .row {
    background: #fff;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    border: 2px dotted #056c5f;
}

.services-part .row i {
    width: 100px;
    background-color: #ccc;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    color: #008374;
    font-size: 30px;
    margin-bottom: 20px;
}

.services-part .row h3 {
    text-align: center;
    color: #eea676;
    font-size: 22px;
    margin-bottom: 15px;
}

.services-part .row p {
    text-align: center;
    color: rgb(97, 97, 97);
    letter-spacing: 1px;
    line-height: 25px;
}

.services-details .services-details-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.services-overlay {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    padding: 70px;
    width: 382px;
    height: 277px;
    border-radius: 10px;
    transform: translateY(-50%);
    background-color: rgba(3, 0, 8, 0.7);
    backdrop-filter: blur(0px);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}

.services-part .row:hover .services-overlay {
    top: 50%;
    visibility: visible;
    opacity: 1;
}



/*------------------- 11.0 - Counter Up Section Start -------------------*/
.counter-up {
    background: url(../img/counter-bg.jpg) no-repeat;
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding: 0 50px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.counter-up::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.counter-up .content {
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -5%);
    align-items: center;
    justify-content: space-between;
}

.content .box {
    width: calc(25% - 30px);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;
}

.content .box .icon {
    background-color: #ccc;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 35px;
    color: #056c5f;
}

.content .box .counter {
    font-size: 50px;
    color: #eea676;
    font-weight: 500;
    font-family: sans-serif;
}

.content .box .text {
    color: #ccc;
    font-weight: 400;
}


/*------------------ 12.0 - Special Team Member Section start ----------------*/
.team {
    padding-bottom: 40px;
}

.slick-slide1,
.slick-slide2 {
    max-width: 100%;
}

.special-team {
    text-align: center;
    border: .5px solid #056c5f;
    box-shadow: 1px 1px 10px 1px #566573;
    margin-bottom: 20px;
}

.special-team a i {
    padding: 5px;
    font-size: 20px;
    margin-bottom: 30px;
    transition: .5s;
}

.special-team a i:hover {
    color: #008374;
    transform: scale(1.5);
}

.special-team .img-fluid {
    margin-bottom: 10px;
}

.special-team .contact-way a {
    text-decoration: none;
    color: #056c5f;
}


/*------------------- 13.0 - Review Section Start ------------------------------*/
.review-item {
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.review .slick-slide:nth-child(1) .review-item {
    background-color: #faf6f3;
}

.review .slick-slide:nth-child(2) .review-item {
    background-color: #edf2fe;
}

.review .slick-slide:nth-child(3) .review-item {
    background-color: #f0f5f4;
}

.review-item img {
    background-color: #056c5f;
    padding: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.review-item i {
    margin-bottom: 20px;
    color: #eea676;
}

.review-item p {
    margin-bottom: 20px;
}


/*=====================-- 14.0 - About Page Start --=======================*/
/*--------- 14.1 - About Home Part ----------*/
.about-main {
    background: url(../img/about-us.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

.about-main-homePage .about-global {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(3, 0, 8, 0.7);
    backdrop-filter: blur(0px);
    padding: 20px;
}

.about-main-homePage .about-global .about-main-homePage-text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.about-main-homePage .about-global .about-main-homePage-text h2 {
    color: #eea676;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}

.about-main-homePage .about-global .about-main-homePage-text p {
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.about-main-homePage .about-global .about-main-homePage-text p a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#about .container .col-lg-6 p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#about .container .about-img img {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    border-bottom-right-radius: 100px;
}

#about .container .about-img {
    position: relative;
}

#about .container .about-img .about-ex1 {
    width: 200px;
    height: 200px;
    background-color: #056c5f;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .container .about-img .about-ex1 #p1 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
}

#about .container .about-img .about-ex1 span {
    color: #eea676;
    font-size: 15px;
    font-weight: 700;
    margin-top: 40px;
}

/*--------- 14.2 - Vision-Mission Part Start --------*/
.our-vision-mission {
    background-color: #E9FDF5;
    background-image: -webkit-linear-gradient(30deg, #E9FDF5 50%, #FEEFD9 50%);
    min-height: 500px;
    padding: 50px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.our-vision-mission p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.our-vision-mission .vision-img .vision-img-part-1 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #056c5f;
}

.our-vision-mission .vision-img .vision-img-part-2 {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eea676;
}

.our-vision-mission .vision-img img {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.our-vision-mission .vision-content h2 {
    color: #eea676;
    font-size: 35px;
    font-weight: 800;
}

.our-vision-mission .vision-content h2 span {
    color: #056c5f;
}

.our-vision-mission .mission-img {
    margin-left: 200px;
}

.our-vision-mission .mission-img .mission-img-part-1 {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #eea676;
}

.our-vision-mission .mission-img .mission-img-part-2 {
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #056c5f;
}

.our-vision-mission .mission-img img {
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.our-vision-mission .mission-content h2 {
    color: #056c5f;
    font-size: 35px;
    font-weight: 800;
}

.our-vision-mission .mission-content h2 span {
    color: #eea676;
}

/*--------- 14.3 - Offer Part Start -----------*/
.offer {
    background: url(../img/offer-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.offer .offer-opacity {
    width: 100%;
    min-height: 80vh;
    margin: 0 auto;
    position: relative;
    background-color: rgba(3, 0, 8, 0.7);
    backdrop-filter: blur(0px);
}

.heading {
    padding: 20px;
}

.heading h2 {
    color: #056c5f;
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 800;
    font-family: 'Sen', sans-serif;
    line-height: 1.2;
}

.heading h2 span {
    color: #eea676;
}

.offer img {
    border-radius: 50%;
    margin-left: 10px;
    border: 10px solid #056c5f;
    transition: all .3s ease-in-out;
}

.offer img:hover {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes spin {
    50% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(0);
    }
}

.offer .col-lg-3:nth-child(odd) {
    margin-top: 80px;
}

.offer p {
    color: #eea676;
    text-align: center;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*--------- 14.4 - Our Best Skill Part ---------*/
.our-best-skills {
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #BABECC;
}

.our-best-skills p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #056c5f;
    margin-top: 50px;
}

.our-best-skills .our-best-skills-content {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.our-best-skills .our-best-skills-content img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.our-best-skills .our-best-skills-content span {
    color: #056c5f;
    font-weight: 300;
}

.our-best-skills .our-best-skills-content .name {
    color: #eea676;
    font-weight: 700;
}

.our-best-skills .col {
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.our-best-skills .skill {
    width: 100%;
    list-style: none;
    padding-top: 10%;
}

.our-best-skills .skill li {
    margin-bottom: 8px;
    background: #E6E4E7;
    height: 30px;
    border-radius: 15px;
    position: relative;
}

.our-best-skills .skillbar {
    height: 10px;
    margin: 5px 11px;
    position: absolute;
}

.our-best-skills .skillbar em {
    color: white;
    position: absolute;
    top: 0;
    font-size: 12px;
    font-weight: 500;
}

#web {
    width: 86%;
    padding: 10px;
    position: absolute;
    background-color: #eea676;
    animation: web 2s ease-out;
    border-radius: 15px;
    left: -10px;
}

#apps {
    width: 70%;
    padding: 10px;
    position: absolute;
    background-color: #056c5f;
    animation: apps 2s ease-out;
    border-radius: 15px;
    left: -10px;
}

#e-commerce {
    width: 85%;
    padding: 10px;
    position: absolute;
    background-color: #eea676;
    animation: e-commerce 2s ease-out;
    border-radius: 15px;
    left: -10px;
}

#software {
    width: 95%;
    padding: 10px;
    position: absolute;
    background-color: #056c5f;
    animation: software 2s ease-out;
    border-radius: 15px;
    left: -10px;
}

#digital {
    width: 65%;
    padding: 10px;
    position: absolute;
    background-color: #eea676;
    animation: digital 2s ease-out;
    border-radius: 15px;
    left: -10px;
}

#graphics {
    width: 50%;
    padding: 10px;
    position: absolute;
    background-color: #056c5f;
    animation: graphics 2s ease-out;
    border-radius: 15px;
    left: -10px;
}

@keyframes web {
    0% {
        width: 0px;
    }

    45% {
        width: 70%;
    }
}

@keyframes apps {
    0% {
        width: 0px;
    }

    45% {
        width: 40%;
    }
}

@keyframes e-commerce {
    0% {
        width: 0px;
    }

    60% {
        width: 60%;
    }
}

@keyframes software {
    0% {
        width: 0px;
    }

    50% {
        width: 50%;
    }
}

@keyframes digital {
    0% {
        width: 0px;
    }

    40% {
        width: 40%;
    }
}

@keyframes graphics {
    0% {
        width: 0px;
    }

    30% {
        width: 30%;
    }
}

.skill li {
    position: relative;
}

.skill li .em {
    position: absolute;
    text-align: right;
    color: #056c5f;
    font-weight: 900;
    right: 0;
}

.skill li .em-color {
    color: #eea676;
}


/*========================-- 15.0 - Services page Start --======================*/
/*--------- 15.1 - Service Home Part --------*/
.services-main {
    background: url(../img/our-services.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.software-idea {
    padding: 50px;
}

.software-idea img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.software .services-item .services-item-part h2 {
    color: #056c5f;
    font-size: 35px;
    font-weight: 800;
}

.software .services-item .services-item-part h2 span {
    color: #eea676;
}

.software .services-item .services-item-part h5 {
    font-weight: 500;
    letter-spacing: 1px;
}

.software .services-item .services-item-part p {
    letter-spacing: 1px;
    font-weight: 370;
    color: rgb(46, 46, 46);
    line-height: 30px;
}

.software .services-item .services-item-part img {
    width: 605px;
}

.software .services-item .services-item-part .srvc1 {
    border-bottom-left-radius: 50px;
}

.software .services-item .services-item-part .srvc2 {
    border-top-right-radius: 50px;
}

.software .services-item .services-item-part .services-item1 {
    padding: 50px;
}

.servicing-part {
    background-color: #080736;
    padding: 50px;
    border-radius: 200px;
}

.servicing-part .servicing-part-1 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.servicing-part .servicing-part-1 .green {
    color: #056c5f;
    font-weight: 800;
}

.servicing-part .servicing-part-1 .brown {
    color: #eea676;
    font-weight: 800;
}

.servicing-part .servicing-part-1 a {
    color: #fff;
    text-decoration: none;
}

/*-------- 15.2 - Isotope Part --------*/
.item-menu {
    text-align: center;
    margin: 30px auto;
}

.item-menu ul li {
    list-style: none;
    padding: 13px 15px;
    display: inline-block;
    border: 1px solid #566573;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
}

.item-menu ul li:hover,
.item-menu .active {
    background: #056c5f;
    color: #eea676;
}
.item-details{
    height: 600px;
    width: 1125px;
}
.item-details .item img {
    width: 300px;
    margin-bottom: 50px;
    padding: 20px;
}

.overlay {
    width: 260px;
    height: 174px;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 0;
    bottom: 0;
    opacity: 0;
    padding: 30px;
    transition: opacity 0.4s ease-in-out;
    background: #000000;
    cursor: pointer;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.content p {
    font-size: 12px;
}

.item:hover .overlay {
    opacity: 0.8;
}


/*======================-- 16.0 - Portfolio Page Start --=====================*/
/*------- 16.1 - Portfolio Home Part --------*/
.portfolio-main {
    background: url(../img/portfolio-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

/*------- 16.2 - Portfolio Portfolio Part --------*/
.portfolio {
    position: relative;
    padding: 90px 0 60px 0;
    background: #f2f2f2;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img {
    position: relative;
    background: #000000;
    overflow: hidden;
}

.portfolio .portfolio-item .link-preview,
.portfolio .portfolio-item .link-details {
    position: absolute;
    display: inline-block;
    padding: 5px 0;
    line-height: 1;
    text-align: center;
    width: 45px;
    height: 35px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
}

.portfolio .portfolio-item .link-preview i,
.portfolio .portfolio-item .link-details i {
    font-size: 22px;
    color: #ffffff;
}

.portfolio .portfolio-item .link-details:hover {
    border: 3px solid #056c5f;
    color: #056c5f;
}

.portfolio .portfolio-item .link-preview:hover {
    border: 3px solid #eea676;
    color: #eea676;
}

.portfolio .portfolio-item .link-preview {
    left: 0;
    top: calc(50% - 18px);
}

.portfolio .portfolio-item .link-details {
    right: 0;
    top: calc(50% - 18px);
}

.portfolio .portfolio-item:hover .link-preview {
    background-color: #056c5f;
    opacity: 1;
    left: calc(50% - 50px);
}

.portfolio .portfolio-item:hover .link-details {
    background-color: #eea676;
    opacity: 1;
    right: calc(50% - 50px);
}

.portfolio .portfolio-item .portfolio-info {
    position: relative;
    width: 100%;
    padding: 30px 15px;
    text-align: center;
    background: #ffffff;
}

.portfolio .portfolio-item .portfolio-info h3 {
    color: #056c5f;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.portfolio .portfolio-item .portfolio-info p {
    color: #eea676;
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}


/*--============================-- 17.0 - Blog Page Start --=============--*/
/*------ 17.1 - Blog Home Part -------*/
.blog-main {
    background: url(../img/blog-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

/*------ 17.2 - Our Blog Part ------*/
.blog-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.blog-card {
    max-width: 300px;
    margin: 15px;
    background: #F0F3F4;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.blog-card:hover {
    box-shadow: 2px 4px 9px 2px grey;
}

.blog-card img {
    max-height: 180px;
    width: 100%;
    border-bottom: 5px solid #eea676;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.card-details {
    margin-top: 15px;
    color: #3C3C3C;
}

.card-text {
    padding: 20px;
    line-height: 22px;
}

.tag {
    border-radius: 30px;
    font-size: 12px;
    padding: 5px;
}

.tag-silver {
    background-color: #A7A7A7;
    color: #fafafa;
}

.tag-black {
    background-color: black;
    color: #fafafa;
}

.tag-red {
    background-color: #E4520E;
    color: #fafafa;
}

.review .slick-slider img {
    width: 100px;
    margin: 0 autoe;
}

/*===============================-- 18.0 - BlogPage Start --=================================*/
.blog-page-main {
    background: url(../img/read-our-blog.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

section .container .row .blog-page .col-12 {
    margin-bottom: 100px;
}

section .blog-page h2 {
    color: #056c5f;
    font-weight: bolder;
    font-size: 40px;
}

section .blog-page img {
    width: 500px;
    margin: 0 auto;
}

section .blog-page p {
    line-height: 30px;
}


/*--==========================-- 19.0 - Career Pages Start --===========================--*/
/*-------- 19.1 - Career Home Part -------*/
.career-main {
    background: url(../img/career-bg.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: auto;
}

/*------- 19.2 - Career Vacancy Part --------*/
section .vacancy p {
    text-align: center;
    color: rgb(97, 97, 97);
    width: 70%;
    margin: 0 auto;
    line-height: 30px;
    margin-top: 15px;
}

/*------- 19.3 - Career Categories Part ------*/
.career-part {
    margin-top: 100px;
}

.career-part .career-part2 {
    margin-top: 50px;
}

.career-part p {
    color: rgb(97, 97, 97);
}

.career-categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.career-categories label {
    font-size: 16px;
    font-weight: 700;
}

.career-categories select {
    border: none;
    background-color: #72a499;
    color: #fff;
    font-weight: 300;
    border-radius: 5px;
    padding: 3px;
}

/*------- 19.4 - Career Available Job Part ------*/
.available-job-post {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.available-job-post select {
    border: none;
    border: 1px solid #D5D8DC;
    padding: 10px;
    border-radius: 5px;
    color: rgb(97, 97, 97);
}

.available-job .available1 {
    border: 1px solid #D5D8DC;
    margin-left: 20px;
    padding: 20px;
}

.available-job .available1 p {
    color: rgb(97, 97, 97);
    font-weight: 300;
    line-height: 30px;
}

.available-job .available1 button {
    border: none;
    background: transparent;
    color: #008374;
}

.available-job .available1 button i {
    padding: 8px;
}


/*====================-- 20.0 - Contact Page Start --=========================*/
/*------- 20.1 - Contact Home Part ---------*/
.contact-main {
    background: url(../img/contact-us.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}

/*------- 20.2 - Contact Part ---------*/
.contact {
    position: relative;
    padding: 90px 0;
    background: #f2f2f2;
}

.contact .container {
    max-width: 900px;
}

.contact .container .col-md-6 {
    padding: 0;
    background: #ffffff;
}

.contact .form {
    background: #ffffff;
    padding: 30px;
    color: #353535;
}

.contact .form input,
.contact .form textarea {
    padding: 20px 0;
    border-color: #dddddd transparent #dddddd transparent;
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    font-weight: ;
}

.contact .form input:focus,
.contact .form textarea:focus {
    border-color: #056c5f transparent #eea676 transparent;
}

.contact .map {
    position: relative;
    background: #ffffff;
}

.contact .map iframe {
    width: 100%;
    height: 491px;
    margin-bottom: -7px;
}


/*======================-- 21.0 - Contact-php Page Start --=====================*/
.contact-php {
    padding: 80px;
}

.contact-php h1 {
    font-size: 50px;
}

.contact-php p {
    margin-top: 30px;
    text-align: center;
}

.contact-php p a {
    font-size: 20px;
    font-weight: 600;
    color: #eea676;
}

.contact-php p a:hover {
    color: #056c5f;
}

/*-------------------- 22.0 - Footer Section Start ------------------*/
.footer {
    background-color: #056c5f;
    border-top-left-radius: 100px;
}

.footer .row {
    padding: 20px 10px;
}

.footer .row .footer-logo {
    padding-left: 10px 10px;
    margin-top: 10px;
}

.footer .row .footer-logo .logo {
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.footer .row .footer-logo span {
    font-size: 30px;
    font-weight: 900;
    background-color: #eea676;
    color: #fff;
    padding: 6px;
    border-radius: 50px;
    border: 3px solid #fff;
}

.footer .row .footer-icon {
    margin-top: 30px;
    margin-left: -35px;
}

.footer .row .footer-icon ul li {
    list-style: none;
    display: inline-block;
    padding: 5px 8px;
    position: relative;
    transition: .5s;
}

.footer .row .footer-icon ul li a {
    color: #eea676;
    font-size: 30px;
    font-weight: 500;
    transition: .5s;
}

.footer h3 {
    font-size: 30px;
    color: #f8a683;
    text-align: center;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.footer p {
    color: #fff;
}

.footer h6 {
    color: #fff;
    text-decoration: underline;
}

.footer .email-btn {
    position: relative;
}

.email-btn .btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    background-color: #eea676;
    color: #fff;
    padding: 12.5px;
    border-radius: 0px;
    border-top-right-radius: 30px;
    transition: all 1s ease-in-out;
}

.email-btn .btn:hover {
    width: 150px;
    color: #fff;
}

.footer .footer-stay input {
    width: 100%;
    height: 50px;
    line-height: 70px;
    background-color: #fff;
    padding: 0 20px;
    border: none;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 15px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.footer .footer-services ul li {
    padding-top: 15px;
    position: relative;
}

.footer .footer-services ul li::before {
    content: '';
    width: 17px;
    height: 1px;
    background-color: #eea676;
    position: absolute;
    left: 0;
    top: 33px;
}

.footer .footer-services ul li a {
    text-decoration: none;
    color: #fff;
    padding: 30px;
}

.footer p {
    font-weight: 300;
    line-height: 30px;
}

.footer p span {
    color: #fff;
    font-weight: 600;
}

.footer .copyright {
    text-align: center;
}

/*--------------------------------------------- END ------------------------------------------------*/